* {
    text-align: right;
}
body {
    background-image: url(camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
}

p {
    text-transform: uppercase;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    float: left;
}

footer {
    clear:both;
    color: white;
}
li {
    list-style: none;
    color: white;
    display: inline-block;
}

.webtext {
    border: 5px dashed green
}

.active {
    color: red;
}

#div1 {
    background: rgb(0,0,255, .2);
}


#div1 {
    background: rgb(255,0,0, .2);
}